<ion-view title="Locations" id="page2" class=" " hide-nav-bar="true" >
    <ion-content padding="true" class="has-header">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input
              type="search"
              my-enter="searchLocation(search.location)"
              ng-model="search.location"
              ng-change="searchFilter(search.location)"
              placeholder="Search the UK..."
              class="location-search">
          </label>
          <button class="button button-small" ng-click="search.location = null">
            <i class="icon ion-close-round placeholder-icon"></i>
          </button>
        </div>

        <div class="search-suggestions" ng-show="search.location">
          <div class="item" ng-repeat="suggestion in search.suggestions">
            <p ng-click="searchLocation(suggestion)">{{suggestion}}</p>
          </div>
        </div>

        <div ng-hide="search.location.length">
          <div class="item item-icon-right" ng-controller="GeoCtrl" ng-click="findMe()">
            <p>Current Location</p>
            <i class="icon placeholder-icon ion-pinpoint"></i>
          </div>
          <div class="item item-icon-right" ng-repeat="fav in favorites.saved" ng-click="loadFavoriteById(fav.id)">
            <p>{{fav.location}}</p>
            <i class="icon placeholder-icon ion-ios-star"></i>
          </div>
        </div>

      </div>
    </ion-content>
</ion-view>
