<ion-view title="Settings" id="page4" class=" " hide-nav-bar="true" >
    <ion-content padding="true" class="has-header">

      <div class="list">

        <div class="item item-button-right">
          Clear Favorites
          <button class="button button-positive" ng-click="delete_confirm = true">
            <i class="icon ion-trash-b"></i>
          </button>
        </div>

        <div class="item" ng-show="delete_confirm">
          <div class="row">
            <div class="col">
              <button ng-click="ClearFavorites();delete_confirm = false" class="button button-block button-positive">
                Confirm
              </button>
            </div>
            <div class="col">
              <button
                class="button button-block button-assertive"
                ng-click="delete_confirm = false">
                  Cancel
              </button>
            </div>
          </div>
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            Temperature
          </div>
          <select ng-model="settings.tempScale" ng-change="tempScaleChange();">
            <option value="C">Celsius</option>
            <option value="F">Fahrenheit</option>
          </select>
        </label>


    </ion-content>
</ion-view>
