<ion-view id="page3" hide-nav-bar="true"
  class="{{weather.taps ? 'page-taps-'+weather.taps : ''}}">
    <!-- Loading -->
    <div ng-if="!error && !weather">
      <ion-content padding="true" class="has-header">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <h1>LOADING</h1>
      </ion-content>
    </div>

    <!-- Weather View -->
    <div ng-if="!error && weather">
      <ion-content padding="true" class="has-header">

        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>

        <div class="row">
          <div class="col" >
            <h2 class="taps-title">{{weather.location}}, the weather is</h2>
          </div>
        </div>

        <div  ng-controller="forecastIcon">
          <div class="row">
            <div class="col col-67">
              <p class="taps-message">taps</p>
            </div>
            <div class="col col-33">
                <img class="w_icon"
                  ng-src="{{weatherToIconSVG(weather.code, weather.daytime)}}"></img>
            </div>
          </div>

          <div class="row">
            <div class="col col-67">
              <p class="taps-message"
                 ng-class="weather.taps==='aff'?'taps-aff':'taps-oan'">
                 {{!weather.error ? weather.taps : weather.error}}
               </p>
            </div>
            <div class="col col-33">
              <img class="w_clothing"
                ng-src="{{
                  weather.taps==='aff' ? 'img/symbols/clothing/tapsaff.svg' :
                  weatherToClothingSVG(weather.code, weather.temp_c)
                }}"></img>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3 class="taps-submessage" ng-if="weather.message">{{weather.message}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col col-67">
            <h3><strong>Current Weather: </strong></h3>
            <h3><strong>Feels like:</strong> </h3>
          </div>
          <div class="col col-33">
            <h3>{{weather.description}}</h3>
            <h3>{{weather.temp_c}}&deg;C</h3>
          </div>
        </div>


        <div class="taps-forecase">
          <ion-scroll zooming="false" direction="x">
            <div ng-style="{'width' : '1500px'}">
              <div class="row">
                <div class="col w_box {{weather.taps ? 'forecast-taps-'+weather.taps : ''}}" ng-repeat="(n, day) in weather.forecast | limitTo:7" ng-hide="$first">
                  <div class="" ng-controller="forecastIcon" on-hold="forecastToggleIconHold()" on-release="forecastToggleIconRelease()">
                    <div class="">
                      <h3 class="w_day">
                        {{day.datetime | date:'EEEE'}}
                      </h4>
                    </div>
                    <div class="">
                      <div class="row">
                        <div class="col col-67">
                          <div ng-hide="toggled">
                            <img class="w_clothing"
                              ng-src="{{
                                day.taps==='aff' ? 'img/symbols/clothing/tapsaff.svg' :
                                weatherToClothingSVG(day.code, day.temp_high_c)
                              }}"></img>
                          </div>
                          <div ng-hide="!toggled">
                            <img class="w_icon"
                              ng-src="{{weatherToIconSVG(day.code, true )}}"></img>
                          </div>
                        </div>
                        <div class="col col-33">
                          <p class="w_temp w_temp_high w_temp_padding">{{day.temp_high_c}}</p>
                          <p class="w_temp w_temp_low">{{day.temp_low_c}}</p>
                        </div>
                    </div>
                    </div>
                    <div class="">
                      <h3 class="w_description">{{
                        day.taps==='aff' ? 'TAPS AFF' :
                        weather.description
                      }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </ion-scroll>
        </div>

        <ion-list class="{{weather.taps ? 'settings-taps-'+weather.taps : ''}}">
          <ion-checkbox ng-change="toggleFavorite()" ng-model="settings.favorite">
            <i class="icon placeholder-icon"
               ng-class="settings.favorite ? 'ion-ios-star' : 'ion-ios-star-outline'">
            </i>
            {{settings.favorite ? 'Favorite' : 'Add to favorites'}}
          </ion-checkbox>
          <ion-checkbox ng-change="toggleNotification()" ng-show="settings.favorite" ng-model="settings.notify">
            <i class="icon placeholder-icon"
               ng-class="settings.notify ? 'ion-android-notifications' : 'ion-android-notifications-off'">
            </i>
            {{settings.notify ? 'Notifications Enabled' : 'Notifications Disabled'}}
          </ion-checkbox>
        </ion-list>

      </ion-content>
    </div>

    <!-- Error -->
    <div ng-if="error && !weather">
      <ion-content padding="true" class="has-header">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <h1>Something went wrong</h1>
        <h2>Swipe the page down to refresh <i class="icon ion-ios-arrow-down"></i></h2>
      </ion-content>
    </div>


</ion-view>
