<ion-view id="page3" class=" ">
  <ion-nav-title>{{title}}</ion-nav-title>
    <!-- Loading -->
    <div ng-if="!error && !weather">
      <ion-content padding="true" class="has-header">
        LOADING
      </ion-content>
    </div>

    <!-- Weather View -->
    <div ng-if="!error && weather">
      <ion-content padding="true" class="has-header">

          <h2 class="site-message">{{weather.location}}, the weather is:</h2>

          <p class="taps-message">taps
            <span class="dynamic-taps-message" class="">{{!weather.error ? weather.taps : weather.error}}</span>
          </p>

          <h3 class="sub-message" ng-if="weather.message">{{weather.message}}</h3>

          <hr />

          <p><strong>Current Weather: </strong>{{weather.description}}</p>
          <p><strong>Temperature:</strong> {{weather.temp_c}}&deg;C ({{weather.temp_f}}&deg;F)</p>

          <hr />

          <ion-scroll zooming="false" direction="x">
            <div class="row">
              <div class="col w_box" ng-repeat="(n, day) in weather.forecast | limitTo:7">
                <div class="row">
                  <div class="col col-75">
                    <h4 class="w_day">{{day.datetime | date:'EEEE'}}</h4>
                    <img class="w_clothing"
                      ng-src="{{
                        weather.taps==='aff' ? '/img/symbols/tapsaff.svg' :
                        weatherToClothingSVG(weather.description)
                      }}"></img>
                      <h4 class="w_description">{{weather.description}}</h4>
                  </div>
                  <div class="col col-25">
                    <p class="w_temp w_temp_high w_temp_padding">{{day.temp_high_c}}</p>
                    <p class="w_temp w_temp_low">{{day.temp_low_c}}</p>
                  </div>
              </div>
              </div>
            </div>
           </ion-scroll>

        <hr />

        <ion-list>
          <ion-checkbox ng-change="toggleFavorite()" ng-model="favorite">
            <i class="icon placeholder-icon"
               ng-class="favorite ? 'ion-ios-star' : 'ion-ios-star-outline'">
            </i>
            {{favorite ? 'Saved' : 'Save to favorites'}}
          </ion-checkbox>
          <ion-checkbox on-click="addFavorite()" ng-if="favorite">
            <i class="icon placeholder-icon"
               ng-class="settings.notify ? 'ion-android-notifications' : 'ion-android-notifications-off'">
            </i>
            {{notify ? 'Notifications Enabled' : 'Notifications Disabled'}}
          </ion-checkbox>
        </ion-list>

      </ion-content>
    </div>

    <!-- Error -->
    <div ng-if="error && !weather">
      <ion-content padding="true" class="has-header">
        <p>{{error}}</p>
      </ion-content>
    </div>


</ion-view>
