
// Taps area styles
h2.taps-title{
  text-align: left;
  font-size: 4em;
}
p.taps-message {
  text-align: left;
  font-size:8em;
  color: $base-color;
  line-height: 1em;
  font-weight: 800;
}
h3.taps-submessage{
  text-align: left;
  font-style: italic;
}

.taps-message.taps-aff { color: darken($assertive, 20%); }

.taps-message.taps-oan { color: darken($positive, 10%); }

.page-taps-oan{
  background-color: lighten($positive, 35%);
}

.page-taps-aff{
  background-color: lighten($assertive, 35%);
}
