
// Taps area styles
h2.taps-title{
  text-align: center;
  font-size: 22px;
}
p.taps-message {
  text-align: center;
  font-size:8em;
  padding-bottom: 15px;
  text-shadow:0 4px 10px #AAA;
  color:#111;
  line-height: 1.1em;
  font-weight: 800;
}
h3.taps-submessage{
  text-align: center;
  font-style: italic;
}

span.taps-aff { color:#FF5454; }

span.taps-oan { color:#2A44F0; }
